.Rank
{
  position: relative;
  color: $black;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  &-title
  {
    text-align: center;
  }

  &-commonName
  {
    @include font-sizes(36px, 48px);
    font-weight: bold;
  }

  &-sciName
  {
    @include font-sizes(24px, 32px);
  }

  &-children
  {
    position: relative;
    height: 40vh;
  }

  &-child
  {
    position: absolute;
  }
}
